* {
    font-family: 'Varela Round', sans-serif;
    margin: 0;
    scrollbar-width: none;
}
::-webkit-scrollbar {
    display: none;
  }

header {
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: space-between;
    width: calc(100% - 2vw);
    top: 0;
    left: 0;
    padding: 1vw;
    background-color: white;
}
#brand {
    border-radius: 3vw;
    height: 2rem;
    display: flex;
    padding: 0.5vw;
    align-items: center;
    justify-content: space-between;
    transition: background-color 200ms, box-shadow 200ms;
}
#brand:hover {
    background-color: #dedaad98;
    /* box-shadow: 0px 2px 20px 5px rgba(0,0,0,0.16); */
}
#hIcon {
    height: 1.8rem;
}
#hTitle {
    font-family: 'Montserrat', sans-serif;
    color: #6e7a31;
    font-size: 1.5rem;
    font-weight: 900;
    margin: 0 1vw;
}
.sections {
    justify-content:right;
    align-items: center;
    display: flex;
    width: 60%;
    height: 2rem;
    margin-left: 3vw;
}
.section {
    font-size: 1.2rem;
    margin: 0 1rem;
    color: #000000a8;
}
#dnMode {
    background: none;
    border: none;
    border-radius: 100%;
    filter: invert(0%);
    background-color: rgb(255, 255, 255);
    padding: 0.4rem;
    height: 2rem;
    display: flex;
    align-content: center;
    justify-content: center;
    transition: transform 300ms;
}
#dnMode:hover {
    cursor: pointer;
    transform: rotate(360deg);
}
#sunIcon {
    height: 100%;
    filter: opacity(65%);
}
#data {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: space-around;
}
#name {
    font-family: 'Montserrat', sans-serif;
    font-size: 4rem;
    font-weight: 900;
}
#photo {
    height: 20rem;
}
#btnContactHeader {
    border: none;
    border-radius: 1rem;
    margin-right: 1rem;
    padding: 1rem;
    font-weight: bold;
    color: #6e7a31;
    font-size: 1rem;
    background-color: #dedaad;
}
#btnContact {
    border: none;
    border-radius: 1rem;
    margin-top: 2rem;
    padding: 1rem;
    font-weight: bold;
    color: #6e7a31;
    font-size: 1rem;
    background-color: #dedaad;
}