* {
    font-family: 'Orienta', sans-serif;
    margin: 0;
    scrollbar-width: none;
}

:root {
    ---bdazzled-blue: rgb(36, 75, 122);
    --silver: #C8C8C8ff;
    --rich-black-fogra-29: #111E27ff;
    --feldgrau: #3D564Aff;
    --shadow-blue: rgb(137, 167, 199);
}

::-webkit-scrollbar {
    display: none;
  }
.night {
    color-scheme: light;
}
header {
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: space-between;
    width: calc(100% - 2vw);
    top: 0;
    left: 0;
    padding: 1vw;
    background-color: white;
    user-select: none;
}
#brand {
    border-radius: 3vw;
    height: 2rem;
    display: flex;
    padding: 0.5vw;
    align-items: center;
    justify-content: space-between;
    transition: background-color 200ms, box-shadow 200ms;
}
#brand:hover {
    background-color: #dedaad98;
    /* box-shadow: 0px 2px 20px 5px rgba(0,0,0,0.16); */
}
#hIcon {
    height: 1.8rem;
}
#hTitle {
    font-family: 'Montserrat', sans-serif;
    color: var(---bdazzled-blue);
    font-size: 1.5rem;
    font-weight: 900;
    margin: 0 1vw;
}
.sections {
    justify-content:right;
    align-items: center;
    display: flex;
    height: 2rem;
    margin-left: 3vw;
}
.section {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    font-style: italic;
    margin: 0 1rem;
    color: rgb(102, 102, 102);
    transition: color 200ms;
}
.section:hover {
    cursor: pointer;
    color: black;
}
#dnMode {
    background: none;
    border: none;
    border-radius: 100%;
    filter: invert(0%);
    background-color: rgb(255, 255, 255);
    padding: 0.4rem;
    height: 2rem;
    display: flex;
    align-content: center;
    justify-content: center;
    transition: transform 300ms;
}
#dnMode:hover {
    cursor: pointer;
    transform: rotate(360deg);
}
#sunIcon {
    height: 100%;
    filter: opacity(65%);
}
#data {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: space-around;
}
#name {
    font-family: 'Montserrat', sans-serif;
    font-size: 15vh;
    font-weight: 900;
}
#photo {
    height: 50vh;
    border-radius: 1rem;
}
#btnContactHeader {
    border: none;
    border-radius: 1rem;
    margin-left: 1rem;
    padding: 1rem 2rem;
    font-weight: bold;
    color: var(---bdazzled-blue);
    font-size: 1rem;
    background-color: var(--shadow-blue);
}
#btnContact {
    border: none;
    border-radius: 1rem;
    margin-top: 2rem;
    padding: 1rem;
    font-weight: bold;
    color: #6e7a31;
    font-size: 1rem;
    background-color: #dedaad;
}
#about {
    height: 15rem;
    display: flex;
}
#info {
    border-radius: 2rem;
    /* background-color: var(---bdazzled-blue);
    color: white; */
    width: 60%;
    height: calc(100% - 4rem);
    margin: 1rem 1%;
    padding: 1rem;
}
h2 {
    font-family: 'Montserrat', sans-serif;
}
#info h2 {
    color: var(---bdazzled-blue);
    font-size: 3rem;
}
#small {
    border-radius: 2rem;
    background-color: var(--feldgrau);
    color: white;
    width: 30%;
    height: calc(100% - 4rem);
    margin: 1rem 1%;
    padding: 1rem;
}

#small h2 {
    color: rgba(255, 255, 255, 0.425);
    font-size: 3rem;
}
#age {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.425);
    border-radius: 1.25rem;
    padding: 0.5rem;
    height: calc(100% - 6rem);
    flex-wrap: wrap;
}

#age p {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    background-color: var(--feldgrau);
    width: calc(33% - 0.5rem);
    margin: 0 0.25rem;
    height: 2rem;
}